{% fragment navigationArea() %}
<!-- Navigation-->
<!-- <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="{{ data.home._url }}">
        <img src="https://isslng.com/images/icon-white-deskotp%201%20(2).png" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        {% for page in data.global.pages %}
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ page._page[0]._url }}">{{ page.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav> -->


<header id="navbar" id="mainNav">
  <div class="container">
      <div class="logo">
        <a href="{{ data.home._url }}"> <img src="https://isslng.com/images/icon-white-deskotp%201%20(2).png" alt=""></a> 

          <div class="navtoggle" id="toggleButton">
          
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"></path></svg>
                          </div>
      </div>
      <div class="links">
          <ul>
            {% for page in data.global.pages %}
              <li onclick="window.location.href = '{{ page._page[0]._url }}'">{{ page.label }}</li>
              {% endfor %}
      

            
          </ul>
      </div>

     
  </div>
</header>


{% endfragment %}